.btn{
    padding: 6px 12px;
    margin: 5px 2px;
    border:none;
    border-radius: 5px;
    color:white
}
.btn1{
    background-color:red;
}
.btn2{
    background-color:blue;
}
.btn3{
    background-color:green;
}
.btn4{
    background-color:yellow;
}
.btn5{
    background-color:gold;
}
.btn6{
    background-color:orange;
}